* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section, footer {
    height: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

/* 1 header */

header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
}

.header-content {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-left {
    height: 75px;
    width: 500px;
}

.p-1 {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.header-left>.p-1 {
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 35px;
    left: 5px;
}

.header-logo {
    width: 128px;
    float: left;
    position: relative;
    top: 14px;
    margin-left: 10px;
}

.contact {
    color: rgba(255, 255, 255, .8);
    background-color: #da6b64;
    border-radius: 200px;
    display: block;
    cursor: pointer;
}

.contact:hover {
    background-color: #d84940;
}

.header-content>.contact {
    height: 44px;
    line-height: 44px;
    font-size: .85rem;
    letter-spacing: 2px;
    margin-right: 10px;
    padding: 0 38px;
    position: relative;
    top: 16px;
    right: 0;
}

.phone-contact {
    text-align: center;
    height: 62px;
    width: 76px;
    background-color: #da6b64;
    position: relative;
    top: 0;
    right: 0;
    padding-top: 9px;
    user-select: none;
    display: none;
}

.phone-contact>img {
    margin: 0 auto;
    display: block;
    width: 20px;
}

.phone-contact>a {
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    position: relative;
    top: -4px;
}

.header-layer {
    height: 75px;
    width: 100%;
    display: none;
}

/* 2 top */

.top {
    height: 575px;
    background: url(images/background/main.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: contain;
}

.top-content {
    padding-top: 170px;
    text-align: center;
    height: auto;
}

.h1-1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .05em;
    opacity: .8;
}

.top-content>.h1-1 {
    margin-bottom: 12px;
}

.top-logo {
    width: 317px;
    margin-bottom: 32px;
}

.p-2 {
    font-size: 19.5px;
    font-weight: bolder;
    letter-spacing: .1em;
}

.top-content>.p-2 {
    line-height: 1.2em;
    opacity: .8;
}

/* to-top */
.to-top {
    width: 71px;
    height: 72px;
    background: #ececec;
    text-align: center;
    position: fixed;
    bottom: 90px;
    right: 50px;
    cursor: pointer;
}

.to-top>i {
    line-height: 72px;
    font-size: 42px;
    color: rgba(0, 0, 0, .8);
}

.to-top>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 3 yellow */

.yellow {
    background: #ebb94d;
    padding: 34px 0 46px;
}

.yellow>.p-2 {
    color: #fff;
}

.yellow>.p-2:nth-of-type(1), .yellow>.p-2:nth-of-type(2) {
    padding-bottom: 3px;
}

.yellow>.p-2:nth-of-type(3) {
    font-size: 18.5px;
    color: #c7254e;
    letter-spacing: -.5px;
    background: #f9f2f4;
    border-radius: 4px;
    display: inline-block;
    margin: 14px 0;
}

.yellow>.contact {
    margin: 30px auto;
    max-width: 1030px;
    color: #fff;
    font-size: 28px;
    letter-spacing: .06em;
    font-weight: bold;
    padding: 34px 0;
}

.yellow>.p-2:nth-child(n+4) {
    padding: 18px 0;
}

.yellow>.p-2:nth-child(n+4)>span {
    display: inline-block;
}

.yellow>.container, footer>.container {
    width: 220px;
    margin: 0 auto;
    justify-content: space-between;
}

.btn {
    color: #fff;
    border-radius: 3px;
    font-size: 11.5px;
    padding: 1.5px 7px;
    cursor: pointer;
}

.btn>span {
    margin-right: 3px;
}

.twitter {
    background: #1b95e0;
}

.facebook {
    background: rgb(86, 123, 198);
    padding: 1.5px 9px;
}

/* 4 free */
.free {
    /* padding-top: 74px; */
    padding-bottom: 135px;
    background: url(images/background/introbottom.jpg);
    background-position: center 85%;
    background-size: cover;
}

.heading {
    text-align: center;
    max-width: 860px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.free>.heading, .merit-support>.heading {
    margin: 74px auto;
}


.heading::before, .heading::after {
    content: "";
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
}

.heading::before {
    top: -35px;
    left: 0px;
}

.heading::after {
    bottom: -25px;
    right: 0px;
}

.free>.heading::before, .about>.heading::before, .merit-support>.heading::before {
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.free>.heading::after, .about>.heading::after, .merit-support>.heading::after {
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.free>.p-2 {
    font-weight: normal;
    opacity: .8;
    line-height: 1.6em;
}

.phone-br {
    display: none;
}

.earning-power {
    display: inline-block;
    font-weight: bold;
    border-bottom: 6px solid #ebb94d;
    line-height: .4em;
}

/* 5 about */

.about {
    background: #fef5e0;
    padding-bottom: 70px;
}

.circle {
    margin: 0 auto;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.about>.circle {
    background: #ebb94d;
    color: rgba(255, 255, 255, .8);
    position: relative;
    top: -40px;
}

.about>.heading {
    margin: 34px auto;
}

.flex-parent {
    display: flex;
    justify-content: center;
}

.skills {
    margin: 0 20px;
    padding: 30px 0;
    max-width: 1170px;
    width: 100%;
    background: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

.about>.p-2 {
    padding: 30px 0;
}

.skills>.container {
    justify-content: center;
    align-items: flex-end;
}

.skill {
    margin: 20px 13px;
}

.skill>img {
    max-width: 100%;
    margin-bottom: 5px;
}

.skill>p {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.7);
}

/* 6 dontteach */
.dontteach {
    background: url(images/background/aboutsecondbg.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px 0 38px;
    width: 100%;
}

.dontteach>.h1-1, .dontteach>.p-2 {
    color: #fff;
}

.dontteach>.h1-1 {
    opacity: 1;
}

.dontteach>.p-2:nth-of-type(1) {
    margin: 20px 0 14px;
}

.dontteach>.p-2:nth-of-type(2) {
    margin-bottom: 30px;
}

.text-yellow {
    color: #ebb94d;
}

.dontteach>.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.step {
    width: 32.4%;
    background: #fff;
    border-radius: 5px;
}

.p-3 {
    font-size: 16px;
    letter-spacing: 1.5px;
}

.step>.p-3, .step>.p-4 {
    font-weight: bolder;
}

.step>p:nth-of-type(1) {
    width: 83%;
    background: #ebb94d;
    border-radius: 5px;
    color: #fff;
    margin: 28px auto;
}

.step>p:nth-of-type(3) {
    margin: 18px 0 36px;
}

/* 7 blue */
.blue {
    background: #016ea9;
    padding: 40px 0;
}

.blue>.p-2 {
    color: #fff;
    line-height: 1.7em;
}

/* 8 ability */
.ability {
    padding: 60px 40px;
}

.ability>.p-2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    margin: 40px 0;
}

.ability>.container {
    margin: 40px auto;
    max-width: 846px;
    justify-content: space-between;
}

.ability>.container>img {
    max-width: 180px;
}

.ability>.p-3 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
}

/* 9 merit-support */
.merit-support {
    background: #fef5e0;
    padding-top: .1px;
    padding-bottom: 48px;
}

.merit-support>.container {
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}

.merit {
    width: 31.6%;
    text-align: left;
}

.merit>img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.merit>.p-2 {
    color: #ebb94d;
    margin: 4px 0 8px;
}

.merit>.p-3 {
    opacity: .7;
    line-height: 1.6em;
}

.support {
    margin: 40px 20px;
    padding: 40px 0 50px;
    width: 100%;
    max-width: 1180px;
    background: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    text-align: center;
}

.support>.h1-1 {
    color: #ebb94d;
}

.support>.p-2 {
    opacity: .7;
    margin: 13px 0;
}

.support>.p-3 {
    opacity: .7;
    font-weight: bolder;
    line-height: 1.6em;
}

.merit-support>.p-1 {
    font-weight: normal;
    opacity: .7;
}

.pc-span {
    display: block;
}

/* 10 members */
.members {
    background: url(images/background/teacherbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0 40px;
}

.members>.h1-1 {
    color: #fff;
    opacity: 1;
    margin-bottom: 30px;
}

.members>.p-3 {
    color: #fff;
}

.flex-parent>.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 20px;
}

.members>.flex-parent>.container {
    justify-content: space-between;
}

.member {
    width: 31.7%;
}

.member>img {
    border-radius: 50%;
    position: relative;
    top: 40px;
}

.member-profile {
    border: 3px solid #fff;
    padding: 40px 40px 48px;
}

.member-profile .p-3 {
    color: #fff;
    font-weight: lighter;
}

.member-name {
    margin: 12px 0;
}

.member-intro {
    /* padding: 0 35px; */
    text-align: left;
}

/* 11 qanda */
.qanda {
    background: #ebb94d;
    padding-bottom: .1px;
}

.qanda>.circle {
    background: #fff;
    color: #ebb94d;
    position: relative;
    top: 34px;
}

.qanda>.heading {
    margin: 50px auto;
}

.qanda>.heading>.h1-1 {
    color: #fff;
    opacity: 1;
    line-height: 1.4em;
}

.qanda>.heading::before, .notvolunteer>.heading::before {
    top: -15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

.qanda>.heading::after, .notvolunteer>.heading::after {
    bottom: -10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

/* 12 employers */
.employers {
    padding-bottom: 20px;
}

.half-triangle {
    width: 36px;
    height: 36px;
    background: #ebb94d;
    margin: 0 auto;
    transform: rotate(45deg);
    position: relative;
    top: -18px;
}

.employers>.p-3 {
    font-weight: bolder;
    line-height: 3em;
}

.employers>.p-1 {
    font-weight: normal;
    opacity: .7;
}

.employers>.container {
    margin: 34px auto;
    width: 850px;
    justify-content: center;
}

.employers>.container>img {
    width: 28%;
    height: 28%;
    border: 3px solid #ebb94d;
}

.employer-message {
    width: 61%;
    margin: 14px 0 0 30px;
    text-align: left;
}

.i-1 {
    display: block;
    opacity: .5;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.6em;
}

.employer-name {
    display: block;
    opacity: .5;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-decoration: underline;
    margin-top: 10px;
}

/* 13 curriculums */
.curriculums {
    color: #fff;
    background: url(images/background/classbg.jpg);
    background-position: center;
    background-size: cover;
}

.curriculums>.h1-1 {
    opacity: 1;
    padding: 60px 0 10px;
}

.curriculums>.container {
    margin: 35px auto 0;
    padding-bottom: 80px;
    width: 780px;
    justify-content: space-between;
    align-items: flex-start;
}

.curriculum {
    width: 48%;
    height: auto;
    background: #016ea9;
    border-radius: 3px;
    padding-bottom: 2px;
}

.curriculum>.p-2 {
    margin: 18px 0;
}

.curriculum>.p-3 {
    width: 98.8%;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    padding: 11px 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
}

.curriculum>.p-3:nth-last-of-type() {
    border-bottom: none;
}

/* 14 blue */

/* 15 process */
.process {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fa-laptop, .fa-gift {
    margin-right: 2px;
    position: relative;
}

.fa-laptop {
    top: -3px;
    font-size: 20px;
}

.process>img:first-of-type {
    margin: 50px auto 40px;
}

.process>.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 34px 36px;
    justify-content: center;
    align-items: center;
    background: #fef5e0;
}

.flow {
    text-align: center;
    align-items: center;
    width: 18%;
}

.flow>img {
    margin-bottom: 14px;
}

.flow>.p-2 {
    font-size: 18px;
    opacity: .8;
}

.flow-description {
    width: 82%;
    text-align: left;
}

.flow-description>.p-3 {
    font-weight: bolder;
    opacity: .8;
}

.flow-description>.p-1 {
    font-weight: normal;
    opacity: .7;
}

.phone-processes {
    height: auto;
    margin: 0 auto;
    display: none;
}

.phone-process {
    padding-left: 15px;
    padding-right: 15px;
    background: #fef5e0;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px rgba(120, 120, 120, .1);
}

.pro-dt {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.phone-pro-text {
    text-align: left;
}

.pro-dt>dt>img {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 15px;
}

.pro-dt>dt>.p-2 {
    line-height: 35px;
    color: rgba(0, 0, 0, .8);
    position: relative;
}

.pro-dt>dt>.p-2::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    font-size: 22px;
    opacity: 1;
    position: absolute;
    top: 2px;
    right: 2px;
}

.pro-dt:hover .p-2 {
    text-decoration: underline;
}

.pro-dd {
    padding-top: 15px;
    padding-bottom: 25px;
    display: none;
    animation: .3s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.pro-dd>.phone-pro-text {
    opacity: .7;
}

.pro-dd>.phone-pro-text>.p-3 {
    font-weight: bold;
}

.pro-dd>.phone-pro-text>br {
    display: block;
    content: "";
    padding: 5.5px 0;
}

.pro-dd>.phone-pro-text>.p-1 {
    font-size: 12px;
    font-weight: normal;
    line-height: 19px;
}

/* 16 bangkok */
.bangkok {
    padding: 100px 0 90px 100px;
    background: url(images/background/bangkokbg.jpg);
    background-position: center;
    background-size: cover;
}

.bangkok-description {
    text-align: left;
    color: #fff;
}

.bangkok-description>.h1-4 {
    margin-bottom: 24px;
}

.h1-4 {
    letter-spacing: 3px;
}

.bangkok-description>.p-1 {
    font-weight: normal;
    opacity: .7;
}

.bangkok-description>ul>.p-3 {
    font-weight: bolder;
    line-height: 2.3em;
}

.bangkok-description>ul {
    margin: 16px 0;
}

/* 17 gifts */
.gifts {
    background: #f7c23c;
    padding: 60px 20px 40px;
}

.fa-gift {
    top: -2px;
    font-size: 23px;
}

.gifts>.p-3 {
    font-weight: bolder;
    padding: 40px 0;
}

.text-white {
    color: #fff;
}

.gift-notice {
    margin: 0 auto;
    width: 48%;
    background: #f7c23c;
    opacity: 1;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 20px;
}

.gifts>.container {
    justify-content: center;
    margin: 0 auto;
    border: 2px solid #fff;
    max-width: 1170px;
}

.gift {
    width: 250px;
    height: 250px;
    background: #fff;
    margin: 50px 60px;
    border-radius: 50%;
}

.gift-content {
    width: 90%;
    margin: 0 auto;
}

.gift-content>.h1-4 {
    color: #ebb94d;
    font-weight: lighter;
    margin: 52px 0 12px;
}

.phone-gift-p {
    color: #fff;
    display: none;
}

/* 18 notvolunteer */
.notvolunteer {
    color: #fff;
    background: url(images/background/specialdetail.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px 0 80px;
}

.notvolunteer>.h1-1 {
    opacity: 1;
}

.notvolunteer>h1:first-of-type {
    margin-bottom: 22px;
}

.notvolunteer>.p-2  {
    opacity: 1;
    line-height: 1.65em;
}

.notvolunteer>.heading {
    margin: 55px auto 35px;
}

/* 19 founder */
.founder {
    padding-top: 60px;
    padding-bottom: 90px;
}

.founder>.p-2 {
    opacity: .8;
    margin: 34px 0 40px;
}

.founder>.container {
    margin: 0 auto;
    width: 860px;
    align-items: flex-start;
}

.founder>.container>img {
    width: 22.5%;
}

.founder-message {
    /* box-sizing: border-box; */
    width: 77.5%;
    text-align: left;
    padding-left: 30px;
}

.founder-message>.p-1 {
    opacity: .7;
    font-weight: normal;
}

.founder-message>br {
    line-height: .8em;
}

/* 20 contact-form */
#contact-form {
    background: #ebb94d;
    padding: 60px 0 70px;
}

#contact-form>.h1-1 {
    opacity: .8;
}

#contact-form>.p-3 {
    font-weight: bolder;
    opacity: .8;
    margin: 20px 0 34px;
}

#contact-form>input, #contact-form>textarea {
    display: block;
    width: 60%;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 14px;
}

#contact-form>input {
    height: 56px;
    margin: 24px auto;
}

#contact-form>textarea {
    height: 100px;
    margin: 44px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact-form>.contact {
    margin: 0 auto;
    width: 61%;
    height: 56px;
    line-height: 56px;
    font-size: 22px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 26px;
}

/* 21 help */
.help {
    padding: 60px 0 50px;
}

.help>.h1-1 {
    margin-bottom: 40px;
}

.helps {
    width: 100%;
}

.a-help {
    width: 76.85%;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 1px .5px rgba(200, 200, 200, .2);
}

.help-dt {
    height: 100%;
    width: 100%;
    margin-bottom: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.help-dt:hover>.p-2 {
    text-decoration: underline;
}

.help-dt>.p-2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 18px;
    content: "\f059";
    color: #337ab7;
}

.help-dt>.p-2::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    content: "\f107";
    opacity: .1;
    position: absolute;
    top: 16px;
    right: 20px;
}

.help-dd {
    margin-bottom: 4px;
    border-bottom: .2px solid rgba(200, 200, 200, .2);
    border-left: .2px solid rgba(220, 220, 220, .1);
    border-right: .2px solid rgba(220, 220, 220, .1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 16px 20px 30px;
    display: none;
    animation: .4s fadeIn;
}

.help-dd.appear {
    display: block;
}

.help-dd>.p-4 {
    font-weight: bold;
    letter-spacing: 1.5px;
    opacity: .8;
}

/* 22 footer */
footer {
    background: #ececec;
    padding: 42px 0 25px;
}

footer>p {
    font-size: 9.5px;
    letter-spacing: 1.5px;
    opacity: .7;
}

footer>p>span, footer>p>span>a {
    color: #337ab7;
}

footer>p>span>a:hover {
    color: #23527c;
    text-decoration: underline;
}

footer>.container {
    margin: 5px auto 40px;
}

.isara-origin {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fef5e0;
}

.isara-origin>.p-2>span>a {
    color: #0000ff;
}

.isara-origin>.p-2>span>a:active {
    opacity: .5;
}

.appear {
    display: block;
}